body{
    margin: 0;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

.n_bar{
    background-color: #FFE8DF;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1{
    margin: 0 auto;
    padding: 20px 40px;
    display: inline-block;
    width: 50%;
    font-family: 'Dancing script', cursive;
}

.t1{
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

td{
    padding: 0px 30px;
}

.llinks{
    text-decoration: none;
}
.llinks:hover{
    background: #FFE8DF ;
    color: black;
    text-decoration: underline;
}

.SudokuSolve{
    margin: 50px 50px 75px;
    padding-top: 50px;
}

.horiz{
    border-top: 4px solid black;
    width: 536px;
}

.vert{
    border-right: 4px solid black;
    height: 452.5px;
    display: inline-block;
    width: 0;
    position: absolute;
    top: 178px;
    z-index: 0;
}
.qSu{
    float: left;
    margin-right: 250px;
}
#opp1,#opp2,#opp3,#opp4,#opp5,#opp6,#opp7,#opp8,#opp9,#opp10,#opp11,#opp12,#opp13,#opp14,#opp15,#opp16,#opp17,#opp18,#opp19,#opp20,#opp21,#opp22,#opp23,#opp24,#opp25,#opp26,#opp27,#opp28,#opp29,#opp30,#opp31,#opp32,#opp33,#opp34,#opp35,#opp36,#opp37,#opp38,#opp39,#opp40,#opp41,#opp42,#opp43,#opp44,#opp45,#opp46,#opp47,#opp48,#opp49,#opp50,#opp51,#opp52,#opp53,#opp54,#opp55,#opp56,#opp57,#opp58,#opp59,#opp60,#opp61,#opp62,#opp63,#opp64,#opp65,#opp66,#opp67,#opp68,#opp69,#opp70,#opp71,#opp72,#opp73,#opp74,#opp75,#opp76,#opp77,#opp78,#opp79,#opp80,#opp81{
    padding: 5px;
    font-size: 30px;
    text-align: right;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 50px 0;
    margin-left: 17%;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.answer_board{
    display: inline-block;
}


.ans_div{
    display: inline-block;
    width: 42px;
    height: 34.5px;
    padding: 5px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-width: 2px;
}
.a_vert{
    border-right: 4px solid black;
    height: 452.5px;
    display: inline-block;
    width: 0;
    position: absolute;
    top: 178px;
    z-index: 0;
}

.a_horiz{
    border-top: 4px solid black;
    width: 536px;

}

.How_it{
    text-align: left;
    background-color: #F0F0F0;
    padding: 50px;
}

h2{
    text-align: center;
    margin: 25px 0 100px 0;
    font-family: 'Merriweather', serif;
    font-size: 29px;
}

hr{
    border-style: dotted none none none;         
    border-width: 6px;
    border-color: #686d6d;
    width: 4%;
}

p{
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.w1,.w2,.w3,.w4,.w5,.w6{
    margin: 60px auto;
    width: 70%;
}

ol{
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.cccccc{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.qqqq{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

li{
    margin: 10px 0;
}

.vaahiyat{
    position: absolute;
    bottom: 120px;
    left: 850px; 
}






.Abou_us{
    background-color: #D3E0DC;
}
